#banner {
  background-image: url(/images/about-banner.jpg);
}
#company-tab {
  display: flex;
  justify-content: center;
  padding: 15px 0 0;
  position: relative;
}
#company-tab li {
  position: relative;
  background: transparent;
  margin: 0 15px;
  border-radius: 6px 6px 0 0;
  border: 1px solid transparent;
  margin-bottom: -1px;
  z-index: 10;
}
#company-tab li.active {
  border-color: #ddd;
  border-bottom-color: #000;
}
#company-tab li a {
  background: transparent;
  border: none;
  margin: 0;
  padding: 15px;
  font-size: 20px;
}
#company-tab li.active a {
  color: #ca1717;
}
#company-tab li:not(.active):hover a {
  color: #ffdc90;
}
.tab-content {
  padding: 15px 0;
}
#profile {
  position: relative;
}
#profile>div {
  padding-top: 20px;
}
#profile>div:last-child {
  padding-bottom: 20px;
}
#profile h4 {
  font-weight: 700;
}
#profile p {
  text-indent: 2em;
  font-size: 16px;
}
#profile ul {
  list-style: square;
  padding-left: 40px;
}
#profile ul li {
  font-size: 16px;
  margin: 15px 0;
}
#profile ul p {
  text-indent: 0;
}
#honor {
  text-align: center;
}
#honor .item {
  background-color: #363636;
}
#honor .item p {
  padding: 10px 0;
}
#honor .item:hover {
  box-shadow: 0 0 16px 0 #ca1717;
}
#honor .item:hover p {
  color: #ffdc90;
}
#partner {
  text-align: center;
}
#partner .item {
  background-color: #232323;
}
#partner .item img {
  filter: grayscale(1);
}
#partner .item p {
  padding: 10px 0;
}
#partner .item:hover img {
  filter: grayscale(0);
  transition: all 0.6s;
}
#partner .item:hover p  {
  color: #ffdc90;
}
#team .column .item {
  padding: 50px;
  background-color: #363636;
  transition: all 0.6s;
}
#team .column .item .photo {
  overflow: hidden;
  transition: all 0.6s;
}
#team .column .item .photo img {
  transition: all 0.6s;
}
#team .column .item .info {
  padding: 15px 0 5px;
  border-bottom: 2px solid #c6c8c8;
  position: relative;
}
#team .column .item .info::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #ca1717;
  transition: transform 0.6s;
  transform-origin: 100% 0;
  transform: scaleX(0);
}
#team .column .item .info .name {
  font-size: 18px;
  font-weight: 700;
}
#team .column .item .info .pos {
  margin-left: 30px;
}
#team .column .item:hover {
  background-color: #363636;
  transform: translate(0, -15px);
  box-shadow: -2px 2px 16px -1px #e6e8e8;
}
#team .column .item:hover .photo {
  box-shadow: 0 0 6px 0px #ffdc90;
}
#team .column .item:hover .info::after {
  transform-origin: 0 0;
  transform: scaleX(1);
}
#team .column .item:hover img {
  transform: scale(1.16);
}
#team .column .item .txt {
  padding: 10px 0;
}