#banner {
  background-image: url(/images/banner-bg.jpg);
}
.body {
  background-image: url(/images/adv-index-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.advantage .hd {
  text-align: center;
  padding: 100px 0px;
  overflow: hidden;
}
.advantage .hd h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 900;
  color: #ffdc90;
  position: relative;
}
.advantage .bd {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.advantage .bd .list-item {
  padding: 15px 30px;
  text-align: center;
}
.advantage .bd .list-item .title {
  font-size: 24px;
  padding: 15px 0 0;
}
.advantage .bd .list-item .txt {
  font-size: 16px;
  color: #acacac;
  padding: 15px 0 0;
}
.advantage .ft {
  margin: 50px 0 0;
  padding: 0 0 50px;
  border-top: 1px solid #acacac;
}
.advantage .ft .adv-detail {
  padding: 25px 0 40px;
}
.advantage .ft .adv-detail .list-item {
  display: none;
}
.advantage .ft .adv-detail .list-item.in {
  display: block;
}
.advantage .ft .adv-detail .list-item .content {
  height: 100px;
  padding: 15px;
  text-indent: 2em;
  font-size: 16px;
  color: #acacac;
}
.advantage .ft .adv-detail .list-item .title {
  font-size: 26px;
  font-weight: 700;
  font-style: italic;
  padding: 15px 0 0;
}
.advantage .ft .adv-detail .list-item .title span {
  font-size: 20px;
  margin: 0 15px;
}
.advantage .ft .adv-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #ffdc90;
  position: relative;
}
.advantage .ft .adv-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 100px;
  transition: transform 0.6s;
}
.advantage .ft .adv-list li.active {
  transform: translateY(-25px);
  background-color: #ca1717;
  border: 1px solid #acacac;
  border-top: 3px solid #ffdc90;
  color: #ffdc90;
}
.advantage .ft .adv-list li p {
  font-size: 20px;
  padding: 5px 0;
}