#banner {
  background-image: url(/images/banner-bg.jpg);
  position: relative;
}
.hd {
  text-align: center;
  padding: 50px 0;
  overflow: hidden;
}
.hd h2 {
  font-size: 50px;
  margin: 50px 0 20px;
  font-weight: 900;
  color: #ffdc90;
  position: relative;
}
.hd h2 strong {
  color: #ca1717;
  font-weight: 700;
}
.hd h5 {
  font-size: 26px;
  color: #ffdc90;
}
.hd h5 span {
  margin: 20px;
  position: relative;
}

#budget {
  background-image: url(/images/bg-1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#budget .mask {
  background-color: rgba(0, 0, 0, 0.6);
}
#budget .bd {
  padding: 100px 0;
  display: flex;
  align-items: center;
  /* box-shadow: 0 0 16px 0 rgba(80, 80, 80, 1); */
  overflow: hidden;
}
#budget .lt {
  padding: 15px 0 0;
  position: relative;
  flex: 1;
}
#budget .lt .input-group {
  margin: 10px 0;
}
#budget .lt .input-group-addon {
  border-radius: 0;
  background-color: transparent;
  color: #ffdc90;
}
#budget .lt .form-control {
  border-radius: 0;
  background-color: transparent;
  color: #ffdc90;
}
#budget .lt span.glyphicon {
  top: 0;
  background-color: transparent;
  color: #ffdc90;
}
#budget .lt .tips {
  text-align: center
}
#budget .lt .tips span {
  color: #fa1616;
}
#budget .lt .qrcode-btn {
  padding-top: 30px;
  text-align: center;
}
#budget .lt .qrcode-btn .btn-qrcode {
  font-size: 18px;
  padding: 5px 15px;
  color: #d6d8d8;
  background-color: #ca1717;
  transition: all 0.3s;
  overflow: hidden;
  border: 1px solid #ffdc90;
  position: relative;
}
#budget .lt .qrcode-btn .btn-qrcode+.btn-qrcode {
  margin-left: 60px;
}
#budget .md {
  text-align: center;
  position: relative;
  width: 150px;
  height: 150px;
}
#budget .md .btn-round {
  opacity: 1;
}
#budget .rt {
  padding: 15px 0;
  position: relative;
  /* opacity: 0; */
  bottom: -360%;
  flex: 1;
  color: #ffdc90;
}
#budget .rt .total {
  font-size: 20px;
}
#budget .rt .total span {
  margin: 0 10px;
  color: #FFF;
  display: inline-block;
  width: 100px;
  font-family: "lcd";
  text-align: center;
  font-size: 30px;
}
#budget .rt .detail {
  border: 1px solid #c6c8c8;
  padding: 15px;
  margin: 15px 0;
  font-size: 16px;
  text-align: center;
}
#budget .rt .detail p {
  line-height: 28px;
  display: flex;
  justify-content: space-between;
}
#budget .rt .detail p span {
  display: inline-block;
  font-family: "lcd";
  text-align: right;
  font-size: 20px;
}
#budget .rt .detail p b {
  font-weight: normal;
}
#budget .rt .tips {
  font-size: 14px;
}
#budget .ft {
  height: 100px;
}

.message {
  position: relative;
  margin-bottom: 50px;
}
.message .hd {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.message .hd .line {
  flex: 1;
  border: 1px solid;
}
.message .hd .txt {
  padding: 15px 30px;
  font-size: 26px;
}
.message .bd {
  margin: 0;
  padding: 0;
}
.message .bd .bd-left, .message .bd .bd-right {
  margin: 0;
  padding: 0;
}
.message .bd .bd-right {
  padding-left: 30px;
}
.message .bd .input-group {
  margin-bottom: 15px;
}
.message .bd .input-group .input-group-addon, .message .bd .input-group .form-control {
  background-color: transparent;
  color: #ffdc90;
  border-radius: 0;
}
.message .ft {
  position: relative;
  display: inline-block;
}
.message .ft .tag {
  float: left;
  color: #ffdc90;
  border: 1px solid #ccc;
  border-right: none;
  padding: 6px 12px;
  width: 81px;
  height: 42px;
  line-height: 28px;
  text-align: center;
}
.message .ft #inputCode {
  float: left;
  width: 150px;
  height: 42px;
  padding: 6px 12px;
  background-color: transparent;
  color: #ffdc90;
  border: 1px solid #ccc;
}
.message .ft .verificationCode {
  float: left;
  height: 42px;
  width: 101px;
  border: 1px solid #ccc;
  border-left: none;
  padding: 5px;
}
.message .ft .verificationCode #verifyCanvas {
  display: none;
}
.message .ft .verificationCode #code_img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#btn-submit {
  border-radius: 0;
  width: 80px;
  height: 42px;
  margin-left: 80px;
  line-height: 26px;
  vertical-align: top;
  background-color: #c9302c;
  border: 1px solid #ffdc90;
}
#btn-submit:hover {
  background-color: #ac2925;
  color: #ffdc90;
}

#qrcodeModal .modal-dialog {
  width: 446px;
  margin: 0 auto;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
}