#banner {
  background-image: url(/images/case-banner.jpg);
}
#case-tab {
  display: flex;
  justify-content: center;
  padding: 15px 0 0;
  position: relative;
}
#case-tab li {
  position: relative;
  background: transparent;
  margin: 0 15px;
  border-radius: 6px 6px 0 0;
  border: 1px solid transparent;
  margin-bottom: -1px;
  z-index: 10;
}
#case-tab li.active {
  border-color: #ddd;
  border-bottom-color: #000;
}
#case-tab li a {
  background: transparent;
  border: none;
  margin: 0;
  padding: 15px;
  font-size: 20px;
}
#case-tab li.active a {
  color: #ca1717;
}
#case-tab li:not(.active):hover a {
  color: #ffdc90;
}
.tab-content {
  padding: 15px 0;
}
.tab-content .column .item {
  background-color: #363838;
  transition: all 0.6s;
}
.tab-content .column .item:hover {
  background-color: #363838 !important;
  box-shadow: 0 2px 8px -1px #ffdc90;
  transform: translateY(-8px);
}
.tab-content .column .item .hd-pic {
  overflow: hidden;
}
.tab-content .column .item .hd-pic img {
  transition: all 0.6s;
}
.tab-content .column .item:hover .hd-pic img {
  transform: scale(1.16);
}
.tab-content .column .item:hover .bd-txt span.title {
  color: #ffdc90;
}
.tab-content .column .item:hover .bd-txt span.glyphicon {
  color: #ffdc90;
  box-shadow: 0 0 0px 1px #ffdc90;
  transition: all 0.6s;
  transform: rotateZ(360deg);
}
.bd-txt {
  position: relative;
  height: 80px;
  padding: 15px;
}
.bd-txt span.title {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #e6e8e8;
}
.bd-txt span.glyphicon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0px 1px #e6e8e8;
  color: #e6e8e8;
  float: right;
}