#tempModal .modal-dialog {
  margin: 0;
  padding: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
#tempModal .modal-content {
  width: 100%;
  box-shadow: none;
  border: none;
  background-color: transparent;
}
#tempModal .modal-body img {
  width: 100%;
}
#tempModal .modal-footer {
  text-align: center;
  border-top: none;
}
#tempModal .modal-footer button {
  font-size: 30px;
}
#tempModal .modal-footer .btn-danger {
  background-color: #c9302c;
  border: 1px solid #ffdc90;
}
#tempModal .modal-footer .btn-danger:hover {
  color: #ffdc90;
}

.adCarousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.adCarousel .adCarousel-wrap {
  width: 100%;
  height: 100%;
}
.adCarousel .adCarousel-wrap .item {
  width: 100%;
  height: 100%;
}
.adCarousel .adCarousel-wrap .item+.item {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.adCarousel .adCarousel-wrap .item img {
  position: absolute;
  display: block;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.adCarousel .adCarousel-wrap .item .content {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
}
.adCarousel:hover .adCarousel-wrap .item .content {
  background-color: rgba(0, 0, 0, 0.3);
}
.adCarousel .adCarousel-wrap .item .content p {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #ffdc90;
  text-shadow: -3px 3px 1px #000;
}
.adCarousel .adCarousel-wrap .item .btn-square {
  opacity: 1;
  top: 0;
  /* width: 300px; */
  width: auto;
  padding: 0px 15px;
}
.adCarousel .adCarousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0);
  opacity: 0.6;
  z-index: 100;
  cursor: pointer;
}
.adCarousel-control.prev {
  left: 0;
  background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}
.adCarousel-control.next {
  right: 0;
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}
.adCarousel-control span.glyphicon {
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  font-size: 30px;
}
/* .adCarousel:hover .adCarousel-control {
  opacity: 0.6;
}
.adCarousel:hover .adCarousel-control.next {
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}
.adCarousel:hover .adCarousel-control.prev {
  background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
} */

#fp-nav ul li a span, .fp-slidesNav ul li a span, #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  background-color: #fff;
}

.hd {
  text-align: center;
  padding: 75px 0px 0px;
  overflow: hidden;
}
.hd h2 {
  font-size: 50px;
  margin: 50px 0 20px;
  font-weight: 900;
  color: #ffdc90;
  position: relative;
  top: -360%;
  opacity: 0;
}
.hd h2 strong {
  color: #ca1717;
  font-weight: 700;
}
.hd h5 {
  font-size: 26px;
  color: #ffdc90;
}
.hd h5 span {
  opacity: 0;
  margin: 20px;
  position: relative;
}
.hd h5 span.left {
  left: -360%;
}
.hd h5 span.right {
  right: -360%;
}
.bd {
  margin: 0 auto;
  position: relative;
}
.bd .bd-list {
  list-style: none;
  margin: 0;
  padding: 5px;
  position: relative;
}
.bd .bd-list .list-item {
  margin: 0;
  padding: 5px;
  position: relative;
}
.bd .bd-list .list-item .wrap {
  margin: 0;
  padding: 5px;
}
.ft {
  padding: 20px 0;
  text-align: center;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}

#budget {
  background-color: #fdfdfd;
  background-image: url(/images/bg-1.jpg);
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
#budget .mask {
  background-color: rgba(0, 0, 0, 0.6);
}
#budget .bd {
  padding: 0;
  display: flex;
  align-items: center;
  /* box-shadow: 0 0 16px 0 rgba(80, 80, 80, 1); */
  height: 0;
  opacity: 0;
  overflow: hidden;
}
#budget .lt {
  padding: 15px 0;
  position: relative;
  opacity: 0;
  bottom: -360%;
  flex: 1;
}
#budget .lt .input-group {
  margin: 10px 0;
}
#budget .lt .input-group-addon {
  border-radius: 0;
  background-color: transparent;
  color: #ffdc90;
}
#budget .lt .form-control {
  border-radius: 0;
  background-color: transparent;
  color: #ffdc90;
}
#budget .lt span.glyphicon {
  top: 0;
  background-color: transparent;
  color: #ffdc90;
}
#budget .lt .tips {
  text-align: center
}
#budget .lt .tips span {
  color: #fa1616;
}
#budget .lt .qrcode-btn {
  padding-top: 30px;
  text-align: center;
}
#budget .lt .qrcode-btn .btn-qrcode {
  font-size: 18px;
  padding: 5px 15px;
  color: #d6d8d8;
  background-color: #ca1717;
  transition: all 0.3s;
  overflow: hidden;
  border: 1px solid #ffdc90;
  position: relative;
}
#budget .lt .qrcode-btn .btn-qrcode+.btn-qrcode {
  margin-left: 60px;
}
#budget .md {
  text-align: center;
  position: relative;
  width: 150px;
  height: 150px;
}
#budget .rt {
  padding: 15px 0;
  position: relative;
  opacity: 0;
  bottom: -360%;
  flex: 1;
  color: #ffdc90;
}
#budget .rt .total {
  font-size: 20px;
}
#budget .rt .total span {
  margin: 0 10px;
  color: #FFF;
  display: inline-block;
  width: 100px;
  font-family: "lcd";
  text-align: center;
  font-size: 30px;
}
#budget .rt .detail {
  border: 1px solid #c6c8c8;
  padding: 15px;
  margin: 15px 0;
  font-size: 16px;
  text-align: center;
}
#budget .rt .detail p {
  line-height: 28px;
  display: flex;
  justify-content: space-between;
}
#budget .rt .detail p span {
  display: inline-block;
  font-family: "lcd";
  text-align: right;
  font-size: 20px;
}
#budget .rt .detail p b {
  font-weight: normal;
}
#budget .rt .tips {
  font-size: 14px;
}

#qrcodeModal .modal-dialog {
  width: 446px;
  margin: 0 auto;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
}
#budgetModal {
  top: 50%;
  transform: translateY(-50%);
}
#budgetModal strong.result {
  font-size: 30px;
  color: #ca1717;
}
#budgetModal strong {
  color: #ca1717;
  font-size: 18px;
}
#budgetModal .modal-footer {
  text-align: center;
}

#professional {
  background-image: url(/images/service-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
#professional .mask {
  background-color: rgba(0, 0, 0, 0);
}
#professional .bd {
  /* margin: 50px auto; */
  padding: 0px ;
  color: #ffdc90;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#professional .bd .pro-item {
  padding: 0;
  opacity: 0;
  position: relative;
}
#professional .bd .pro-item:nth-child(2n-1) {
  top: 100%;
}
#professional .bd .pro-item:nth-child(2n) {
  top: -100%;
}
#professional .bd .pro-item .pic img {
  width: 100%;
}
#professional .bd .pro-item:nth-child(2n-1) .pic img {
  padding-bottom: 100%;
}
#professional .bd .pro-item:nth-child(2n) .pic img {
  padding-top: 100%;
}
#professional .bd .pro-item .cap {
  background-image: url(/images/adv-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
#professional .bd .pro-item:nth-child(2n-1) .cap {
  top: 50%;
}
#professional .bd .pro-item:nth-child(2n) .cap {
  top: 0%;
}
#professional .bd .pro-item .cap .index {
  font-size: 26px;
  color: #ffdc90;
  font-weight: 700;
}
#professional .bd .pro-item .cap .title {
  font-weight: 700;
}
#professional .bd .pro-item .cap .txt strong {
  color: #ffdc90;
}

#case {
  position: relative;
  width: 100%;
  background-image: url(/images/adv-index-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
#case .mask {
  background-color: rgba(0, 0, 0, 0);
}
#case .bd {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  transition: all 0.3s;
}
#case .bd .bd-list {
  list-style: none;
  margin: 0;
  padding: 5px;
}
#case .bd .bd-list li {
  padding: 5px;
  transition: all 0.6s;
}
#case .bd .bd-list li:nth-child(1) {
  transform: rotateZ(45deg) translate(-3000px, -1000px);
}
#case .bd .bd-list li:nth-child(2) {
  transform: rotateZ(90deg) translate(-3000px, 1000px);
}
#case .bd .bd-list li:nth-child(3) {
  transform: rotateZ(135deg) translate(3000px, -1000px);
}
#case .bd .bd-list li:nth-child(4) {
  transform: rotateZ(180deg) translate(3000px, 1000px);
}
#case .bd .bd-list li:nth-child(5) {
  transform: rotateZ(225deg) translate(-3000px, -1000px);
}
#case .bd .bd-list li:nth-child(6) {
  transform: rotateZ(270deg) translate(-3000px, -1000px);
}
#case .bd .bd-list li a {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

#case .bd a {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}
#case .bd a img {
  width: 100%;
  height: 200px;
  transition: all 0.6s;
}
#case .bd a .cover {
  position: absolute;
  opacity: 0;
  padding: 0;
  top: 50%; 
  left: 50%;
  width: 95%;
  height: 95%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  transition: all 0.4s;
  text-align: center;
  overflow: hidden;
}
#case .bd a .cover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 1px solid #ffdc90;
  transition: all 0.4s;
}
#case .bd a .cover .title, #case .bd a .cover .content {
  position:  relative;
  transition: all 0.4s;
  opacity: 0;
}
#case .bd a .cover .title {
  left: 20px;
}
#case .bd a .cover .content {
  right: 20px;
}
#case .bd a .cover span.glyphicon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #ffdc90;
  color: #ffdc90;
  transform: rotate(0) scale(0);
  transition: all 0.4s;
}

#case .bd a:hover img {
  transform: scale(1.2);
}
#case .bd a:hover .cover {
  opacity: 1;
}
#case .bd a .cover:hover {
  padding: 5%;
}
#case .bd a .cover:hover .title {
  left: 0;
  opacity: 1;
}
#case .bd a .cover:hover .content {
  right: 0;
  opacity: 1;
}
#case .bd a .cover:hover span.glyphicon {
  transform: rotate(360deg) scale(1.0);
}

#advantage {
  overflow: hidden;
  position: relative;
  background-image: url(/images/budget-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#advantage .mask {
  background-color: rgba(0, 0, 0, 0);
}
#advantage .hd span {
  color: #fff;
}
#advantage .hd span:last-of-type {
  color: #ca1717;
  font-weight: 700;
}
#advantage .hd b {
  opacity: 0;
}
#advantage .bd {
  overflow: hidden;
  /* padding: 15px; */
  height: 0;
  color: #fff;
}
#advantage .bd .bd-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#advantage .bd .bd-list .list-item {
  text-align: center;
  padding: 10px;
  overflow: hidden;
  opacity: 0;
  height: 410px;
}
#advantage .bd .bd-list .list-item .wrap {
  padding: 30px 0;
  transition: all 0.3s;
  height: 100%;
}
#advantage .bd .bd-list .main {
  width: 120px;
  height: 120px;
  line-height: 118px;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px dotted;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
#advantage .bd .bd-list .sub {
  padding: 30px 0 15px;
  margin: 0px auto;
  font-size: 16px;
}
#advantage .bd .bd-list .sub p {
  margin: 0;
}
#advantage .bd .bd-list .des {
  text-align: left;
  padding: 15px 30px;
  margin: 0;
}
#advantage .bd .bd-list .list-item:hover .wrap {
  transform: translate(0px, -20px);
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffdc90;
}

#service {
  position: relative;
  overflow: hidden;
  background-image: url(/images/cpy-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#service .mask {
  background-color: rgba(0, 0, 0, 0);
}
#service .bd .bd-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  overflow: hidden;
}
#service .bd .bd-list .list-item {
  padding: 0;
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}
#service .bd .bd-list .list-item:nth-child(2n-1) {
  transform: translateY(50%);
}
#service .bd .bd-list .list-item:nth-child(2n) {
  transform: translateY(-50%);
}
#service .bd .bd-list .list-item .wrap {
  padding: 0;
}
#service .bd .bd-list .list-item:nth-child(2n-1) .pic {
  padding-top: 100%;
}
#service .bd .bd-list .list-item:nth-child(2n) .pic {
  padding-bottom: 100%;
}
#service .bd .bd-list .list-item .pic img {
  width: 100%;
}
#service .bd .bd-list .list-item .txt {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: url(/images/adv-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 30px;
}
#service .bd .bd-list .list-item:nth-child(2n-1) .txt {
  top: 50%;
  z-index: -1;
}
#service .bd .bd-list .list-item:nth-child(2n) .txt {
  top: 0%;
  z-index: -1;
}
#service .bd .bd-list .list-item .txt h3 {
  text-align: center;
  font-weight: 700;
}
#service .bd .bd-list .list-item .txt p {
  margin: 30px 0;
}
#service .bd .bd-list .list-item:hover .txt {
  text-shadow: 0 0 30px #f00;
}

#designer {
  position: relative;
  overflow: hidden;
  background-image: url(/images/contact-bg.jpg);
  background-size: contain;
  background-position: center;
}
/* #designer .bd {
  overflow: hidden;
  padding: 15px 0;
}
#designer .bd-list {
  height: 500px;
  position: relative;
}
#designer .bd-list .list-item {
  position: absolute;
  height: 500px;
  width: 300px;
  padding: 25px 35px;
  top: 0;
  left: 50%;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 #ffdc90;
  opacity: 0;
  transform: translate(-50%, 0);
  transition: all 0.8s;
  background-color: #000;
  color: #fff;
}
#designer .bd-list .list-item.active {
  background-color: #ffdc90;
  color: #000;
}
#designer .bd-list .list-item .pic {
  position: relative;
  text-align: center;
}
#designer .bd-list .list-item .pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 #ffdc90;
}
#designer .bd-list .list-item.active .pic img {
  box-shadow: 0 0 10px 0 #000;
}
#designer .bd-list .list-item .info {
  position: relative;
  width: 100%;
  padding: 25px 0;
}
#designer .bd-list .list-item .info p {
  margin: 0;
  padding: 15px 0 0;
  font-size: 16px;
}
#designer .bd-list .list-item .info p a {
  position: relative;
}
#designer .bd-list .list-item.active .info p a {
  color: #000;
}
#designer .bd-list .list-item.active .info p a:hover {
  color: #ca1717;
}
#designer .bd-list .list-item.active .info p a:hover::before {
  color: #000;
}
#designer .bd-list .list-item .info p.name {
  font-size: 26px;
  font-weight: 700;
  padding: 5px 15px;
  border-bottom: 3px solid #fff;
  position: relative;
}
#designer .bd-list .list-item .info p.name span {
  font-size: 16px;
  margin-left: 2em;
}
#designer .bd-list .list-item .info p.name::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: #ca1717;
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
}
#designer .bd-list .list-item.active .info p.name::after {
  width: 100%;
  transition: all 3s linear;
}
#designer .bd-list:hover .list-item.active .info p.name::after {
  width: 0;
  transition: all 0s;
}
#designer .bd-list .list-item .info p.years span {
  margin: 0 10px;
}
#designer .bd-list .list-item .info p.works a+a {
  padding-left: 1em;
}
#designer .bd-list .list-item .info p.works a+a::before {
  content: "、";
  position: absolute;
  width: 1em;
  left: 0;
}
#designer .bd-list .list-item .button {
  text-align: center;
  opacity: 0;
}
#designer .bd-list .list-item.active .button {
  opacity: 1;
}
#designer .bd-list .list-item .button .btn-track {
  box-shadow: 0 0 6px 0 #000;
} */
#style-box {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  opacity: 0;
}
#style-box .item {
  text-align: center;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #e6e8e8;
  height: 400px;
}
#style-box .item+.item {
  border-left: none;
}
#style-box .item .item-hd {
  width: 150px;
  position: relative;
  overflow: hidden;
}
#style-box .item .item-hd::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  transition: all 0.6s;
}
#style-box .item .item-hd img {
  height: 100%;
}
#style-box .item .item-hd span {
  font-size: 30px;
  font-weight: 700;
  width: 60px;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffdc90;
  z-index: 2;
  border-radius: 50%;
  transition: all 0.6s;
}
#style-box .item .item-hd p {
  position: absolute;
  top: 65%;
  padding: 20px;
  color: #000;
  z-index: 10;
  text-align: left;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.6s;
}
#style-box .item .item-bd {
  width: 0;
  background-color: #f60;
}
#style-box .item .item-bd img {
  height: 100%;
}
#style-box .item.active {
  flex: 1;
}
#style-box .item.active .item-hd::after {
  top: 0%;
  background-color: rgba(255, 255, 255, 0.8);
}
#style-box .item.active .item-hd span {
  color: #ca1717;
  font-size: 20px;
  width: 100px;
  height: 100px;
  line-height: 88px;
  border: 1px solid #000;
  box-shadow: 0 0 6px 0 #000;
  top: 30%;
}
#style-box .item.active .item-hd p {
  opacity: 1;
}
#style-box .item.active .item-bd {
  border-left: 2px solid #e6e8e8;
  flex: 1;
}

#support {
  overflow: hidden;
  position: relative;
  background-image: url(/images/wood-bg.jpg);
}
#support .mask {
  background-color: rgba(0, 0, 0, 0.5);
}
#support .bd {
  padding: 0;
}
#support .bd-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#support .bd-list .list-item {
  transition: all 0.5s;
  opacity: 0;
  padding: 15px;
}
#support .bd-list .list-item:nth-child(1) {
  transform: translateX(150%);
}
#support .bd-list .list-item:nth-child(2) {
  transform: translateX(50%);
}
#support .bd-list .list-item:nth-child(3) {
  transform: translateX(-50%);
}
#support .bd-list .list-item:nth-child(4) {
  transform: translateX(-150%);
}
#support .bd-list .list-item .wrap {
  height: 260px;
  color: #fff;
  box-shadow: 0 0 16px 0 #ffdc90;
  border-radius: 16px;
  padding: 15px;
}
#support .bd-list .list-item:hover .wrap {
  transition: all 1s;
  transform: rotateY(360deg);
}
#support .bd-list .list-item .wrap .pic {
  text-align: center;
  height: 80px;
}
#support .bd-list .list-item .wrap .title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 25px 0;
}
#support .bd-list .list-item .wrap .txt {
  padding: 0 30px;
}

#slogan {
  position: relative;
  overflow: hidden;
  background-image: url(/images/advantage-bg.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
#slogan .mask {
  background-color: rgba(0, 0, 0, 0.86);
}
#slogan .bd-list {
  margin: 0;
  padding: 25px 0;
  width: 1200px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
#slogan .bd-list .list-item {
  padding: 5px;
  left: 1200px;
}
#slogan .bd-list .list-item .wrap {
  width: 100px;
  color: #fff;
  padding: 0;
  transition: all 0.6s;
}
#slogan .bd-list .list-item:hover .wrap {
  transform: translateY(-30px);
}
#slogan .bd-list .list-item .wrap .pic {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-image: url(/images/all_in_one-frame.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#slogan .bd-list .list-item .wrap .pic img {
  height: 32px;
  vertical-align: middle;
}
#slogan .bd-list .list-item .wrap .txt {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 0;
}
#slogan .ft {
  position: relative;
  top: 500px;
  opacity: 0;
}
#slogan .ft .ft-list {
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
}
#slogan .ft .ft-list .list-item {
  padding: 15px;
  color: #ffdc90;
}
#slogan .ft .ft-list .list-item .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  line-height: 90px;
  border: 3px outset #ffdc90;
}
#slogan .ft .ft-list .list-item:hover .wrap {
  background-color: #ca1717;
}
#slogan .ft .ft-list .title {
  font-size: 50px;
  font-weight: 700;
  display: inline-block;
}
#slogan .ft .ft-list .seperator {
  margin: 0 15px;
  border-left: 5px double;
  height: 80%;
}
#slogan .ft .ft-list .txt {
  font-size: 18px;
  font-weight: 700;
}

#focus {
  position: relative;
  overflow: hidden;
}
#focus .bd {
  display: flex;
  justify-content: space-around;
}
#focus .bd .bd-list {
  list-style: none;
  color: #fff;
  overflow: hidden;
}
#focus .bd .bd-list li {
  display: flex;
  margin: 35px 0;
  position: relative;
  opacity: 0;
  transition: all 0.6s;
}
#focus .bd .bd-list li .num {
  width: 80px;
  height: 80px;
  line-height: 74px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  border-radius: 50%;
  border: 3px solid #ca1717;
}
#focus .bd .bd-list li .txt {
  flex: 1;
  padding: 0 15px;
}
#focus .bd .bd-list li .txt p:first-child {
  font-size: 18px;
  font-weight: 700;
}
#focus .bd .bd-list li .txt p:last-child {
  height: 3em;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#focus .bd .bd-list.left li {
  flex-direction: row-reverse;
  right: 1500px;
}
#focus .bd .bd-list.left li .txt p:first-child {
  text-align: right;
}
#focus .bd img {
  height: 400px;
  margin: 0 50px;
  filter: grayscale(1);
  opacity: 0;
  box-shadow: 0 0 216px 0 #fff;
  border-radius: 100px 50px/ 100px 50px;
}
#focus .bd:hover img {
  filter: grayscale(0);
}
#focus .bd .bd-list.right li {
  left: 1500px;
}
#focus .bd .bd-list.left li:hover {
  transform: translateX(-20px);
}
#focus .bd .bd-list.right li:hover {
  transform: translateX(20px);
}

#news {
  position: relative;
  overflow: hidden;
  background-image: url(/images/news-bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
#news .mask {
  background-color: rgba(0, 0, 0, 0.86);
}
#news .bd {
  color: #fff;
  display: flex;
  overflow: hidden;
  height: 0;
  opacity: 0;
}
#news .bd .box {
  display: flex;
  height: 100%;
  width: 152px;
  align-items: center;
  border: 1px solid #c6c8c8;
  overflow: hidden;
  transition: all 0.6s;
}
#news .bd .box+.box {
  margin-left: 5px;
}
#news .bd .box .title {
  padding: 15px;
}
#news .bd .box .title span {
  display: block;
  width: 120px;
  height: 120px;
  padding: 18px 0;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  box-shadow: 0 0 6px 0 #FFF;
}
#news .bd .box.active {
  width: 1045px;
}
#news .bd .box.active .title {
  color: #ffdc90;
}
#news .bd .box .content {
  width: 100%;
  height: 100%;
  border-left: 1px solid #c6c8c8;
}
#news .bd .box .content ul {
  list-style: none;
  margin: 0;
  padding: 5px 15px;
  position: relative;
}
#news .bd .box .content ul li {
  padding: 15px;
}
#news .bd .box .content ul li+li {
  border-top: 1px dashed;
}
#news .bd .box .content ul li .tit {
  font-size: 20px;
}
#news .bd .box .content ul li:hover .tit {
  color: #ffdc90;
}
#news .bd .box .content ul li .txt {
  font-size: 16px;
}

#goal {
  position: relative;
  overflow: hidden;
  color: #fff;
  background-image: url(/images/ys_bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#goal .mask {
  background-color: rgba(0, 0, 0, 0);
}
#goal .bd {
  width: 1200px;
}
#goal .bd .bd-list {
  height: 0;
  overflow: hidden;
}
#goal .bd-list .list-item {
  text-align: center;
}
#goal .bd-list .list-item:hover {
  color: #ca1717;
}
#goal .bd-list .list-item .pic {
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 0 auto;
  background-image: url(/images/all_in_one-frame.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#goal .bd-list .list-item .txt {
  padding: 30px 0;
  font-size: 18px;
  font-weight: 700;
}

#partner {
  position: relative;
  overflow: hidden;
  background-image: url(/images/bg-7.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#partner .mask {
  background-color: rgba(0, 0, 0, 0);
}
#partner .bd-list {
  opacity: 0;
}
#partner .bd-list .list-item {
  position: relative;
}
#partner .bd-list .list-item .wrap {
  background-color: #ca1717;
}
#partner .bd-list .list-item img {
  width: 100%;
  filter: grayscale(1);
}
#partner .bd-list .list-item:hover .wrap {
  position: relative;
  box-shadow: 0 0 26px 0 #ffdc90;
  transform: perspective(100px) translate3d(0px, -10px, 15px);
  background-color: #ffdc90;
  z-index: 100;
  transition: all 0.3s;
}
#partner .bd-list .list-item:hover img {
  filter: grayscale(0);
}

#about {
  position: relative;
  overflow: hidden;
  color: #FFF;
}
#about .mask {
  justify-content: flex-end;
}
#about .hd {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0 0;
  overflow: hidden;
  flex: 1;
}
#about .hd .cpy {
  width: 600px;
}
#about .hd .cpy .title {
  font-size: 30px;
  padding: 15px 0;
}
#about .hd .cpy .content {
  font-size: 16px;
  text-align: left;
  text-indent: 2em;
  padding: 15px 0;
}
#about .pos {
  position: relative;
  width: 300px;
  /* left: 500px; */
  /* opacity: 0; */
}
#about .pos>img {
  width: 300px;
}
#about .pos .cover {
  position: absolute;
  top: 0;
  right: 20px;
  transition: all 0.6s;
}
#about .hd:hover .pos .cover {
  transform: rotateZ(360deg);
}
#about #contact {
  background-attachment: unset;
  background-size: cover;
}

#fp-nav {
  top: 35%;
}
#fp-nav .fp-tooltip {
  color: #ffdc90 !important;
}

.mask {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

#asidebar {
  background-color: transparent;
  border: none;
  border-radius: 0;
  z-index: 1000;
}
#asidebar>ul>li {
  border-radius: 0;
  background-color: #ca1717;
  border-color: #ffdc90;
  color: #f6f8f8;
}
#asidebar>ul>li>.tel {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-right: 50px;
  background-color: #ca1717;
  color: #ffdc90;
  z-index: -1;
  overflow: hidden;
  transition: all 0.6s;
}
#asidebar>ul>li#btn_aside_tel:hover>.tel {
  width: 200px;
  box-shadow: -4px 0px 16px -1px #ffdc90;
}
#asidebar>ul>li>.qrcode {
  position: absolute;
  right: 51px;
  bottom: -1px;
  width: 0px;
  height: 0px;
  border-right: 5px solid transparent;
  transition: all 0.6s;
}
#asidebar>ul>li>.qrcode>img {
  width: 100%;
}
#asidebar>ul>li#btn_aside_qrcode:hover>.qrcode {
  width: 105px;
  height: 100px;
  box-shadow: 0px 0 16px -1px #ffdc90;
}

#asidebar li span {
  font-size: 20px;
}
#asidebar>li {
  border-radius: 0;
  background-color: #5d5d5d;
  border-color: #ffdc90;
  color: #ffdc90;
}

.fixed {
  position: fixed;
}
.fixed-rb {
  right: 15px;
  bottom: 15px;
}
.fixed-top {
  top: 0;
  left: 0;
}
.fixed-ml {
  left: 0;
  top: 50%;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#bsWXBox.bsBox {
  width: 216px !important;
  height: 240px !important;
}
#bsWXBox.bsBox>.bsTop {
  width: 100% !important;
}
#bsWXBox.bsBox>.bsFrameDiv>div {
  width: 100% !important;
  height: 204px !important;
}
#bsWXBox.bsBox>.bsFrameDiv>div>img {
  width: 204px !important;
  height: 204px !important;
  padding: 5px !important;
  margin: 0 !important;
}

@keyframes light {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 66px -1px rgba(216, 216, 216, 0.3);
  }
  100% {
    box-shadow: none;
  }
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}