#banner {
  background-image: url(/images/banner-bg.jpg);
}
#news-tab {
  display: flex;
  justify-content: center;
  padding: 15px 0 0;
  position: relative;
}
#news-tab::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -1px;
  background-color: #ca1717;
  transform: scaleX(0);
  transform-origin: center center;
  transition: transform 0.6s;
}
#news-tab:hover::after {
  transform: scaleX(1);
}
#news-tab li {
  position: relative;
  background: transparent;
  margin: 0 15px;
}
#news-tab li a {
  background: transparent;
  border: none;
  margin: 0;
  padding: 15px;
  font-size: 20px;
}
#news-tab li::before, #news-tab li::after {
  font-family: "Glyphicons Halflings";
  position: absolute;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  content: "\e250";
  top: 50%;
  transform: translateY(-50%);
  color: #ca1717;
  opacity: 0;
}
#news-tab li::after {
  content: "\e251";
  right: 0;
}
#news-tab li.active::before,#news-tab li.active::after {
  opacity: 1;
}
#news-tab li:not(.active):hover::before, #news-tab li:not(.active):hover::after {
  opacity: 1;
  color: #ffdc90;
}
#news-tab li.active a {
  color: #ca1717;
}
#news-tab li:not(.active):hover a {
  color: #ffdc90;
}

.tab-content {
  padding: 15px 0;
}
.tab-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tab-content ul li {
  border-bottom: 1px dashed #363636;
}
.tab-content ul li a {
  display: flex;
  align-items: center;
  padding: 15px 30px 15px 15px;
  color: #e6e8e8;
  transition: all 0.6s;
}
.date {
  width: 100px;
  height: 100px;
  border: 1px solid #e6e8e8;
  padding: 10px 15px;
  text-align: center;
}
.date strong {
  font-size: 30px;
  font-weight: 700;
  display: block;
  text-align: center;
}
.txt {
  padding: 0 15px;
  overflow: hidden;
}
.tab-content a .link {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  background-color: #565656;
  color: #a6a8a8;
}
.tab-content ul li:hover {
  background-color: #363636;
}
.tab-content ul li:hover a {
  transform: translateX(15px);
}
.tab-content ul li:hover .date {
  background-color: #ca1717;
  border-color: #ffdc90;
}
.tab-content ul li:hover .txt h4 {
  color: #ca1717;
}
.tab-content ul li:hover .link {
  color: #ffdc90;
}