#banner {
  background-image: url(/images/news-banner.jpg);
}
#news-tab {
  display: flex;
  justify-content: center;
  padding: 15px 0 0;
  position: relative;
}
#news-tab li {
  position: relative;
  background: transparent;
  margin: 0 15px;
  border-radius: 6px 6px 0 0;
  border: 1px solid transparent;
  margin-bottom: -1px;
  z-index: 10;
}
#news-tab li.active {
  border-color: #ddd;
  border-bottom-color: #000;
}
#news-tab li a {
  background: transparent;
  border: none;
  margin: 0;
  padding: 15px;
  font-size: 20px;
}
#news-tab li.active a {
  color: #ca1717;
}
#news-tab li:not(.active):hover a {
  color: #ffdc90;
}

.tab-content {
  padding: 15px 0;
}
.tab-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tab-content ul li {
  border-bottom: 1px dashed #363636;
}
.tab-content ul li a {
  display: flex;
  align-items: center;
  padding: 15px 30px 15px 15px;
  color: #e6e8e8;
  transition: all 0.6s;
}
.date {
  width: 100px;
  height: 100px;
  border: 1px solid #e6e8e8;
  padding: 10px 15px;
  text-align: center;
}
.date strong {
  font-size: 30px;
  font-weight: 700;
  display: block;
  text-align: center;
}
.txt {
  padding: 0 15px;
  overflow: hidden;
}
.tab-content a .link {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  background-color: #565656;
  color: #a6a8a8;
}
.tab-content ul li:hover {
  background-color: #363636;
}
.tab-content ul li:hover a {
  transform: translateX(15px);
}
.tab-content ul li:hover .date {
  background-color: #ca1717;
  border-color: #ffdc90;
}
.tab-content ul li:hover .txt h4 {
  color: #ca1717;
}
.tab-content ul li:hover .link {
  color: #ffdc90;
}