#banner {
  background-image: url(/images/news-banner.jpg);
}
#news-tab {
  display: flex;
  justify-content: center;
  padding: 15px 0 0;
  position: relative;
}
#news-tab li {
  position: relative;
  background: transparent;
  margin: 0 15px;
  border-radius: 6px 6px 0 0;
  border: 1px solid transparent;
  margin-bottom: -1px;
  z-index: 10;
}
#news-tab li.active {
  border-color: #ddd;
  border-bottom-color: #000;
}
#news-tab li a {
  background: transparent;
  border: none;
  margin: 0;
  padding: 15px;
  font-size: 20px;
}
#news-tab li.active a {
  color: #ca1717;
}
#news-tab li:not(.active):hover a {
  color: #ffdc90;
}

/* .tab-content {
  padding: 15px 0;
}
.tab-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tab-content ul li {
  border-bottom: 1px dashed #363636;
}
.tab-content ul li a {
  display: flex;
  align-items: center;
  padding: 15px 30px 15px 15px;
  color: #e6e8e8;
  transition: all 0.6s;
}
.date {
  width: 100px;
  height: 100px;
  border: 1px solid #e6e8e8;
  padding: 10px 15px;
  text-align: center;
}
.date strong {
  font-size: 30px;
  font-weight: 700;
  display: block;
  text-align: center;
}
.txt {
  padding: 0 15px;
  overflow: hidden;
}
.txt h4 {
  font-size: 24px;
}
.txt p {
  font-size: 16px;
  margin: 15px 0;
}
.tab-content a .link {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  background-color: #565656;
  color: #a6a8a8;
}
.tab-content ul li:hover {
  background-color: #363636;
}
.tab-content ul li:hover a {
  transform: translateX(15px);
}
.tab-content ul li:hover .date {
  background-color: #ca1717;
  border-color: #ffdc90;
}
.tab-content ul li:hover .txt h4 {
  color: #ca1717;
}
.tab-content ul li:hover .link {
  color: #ffdc90;
} */

.news-list {
  font-size: 18px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0;
}
.news-list>.news-list-item {
  text-decoration: none;
  color: #e6e8e8;
  display: flex;
  padding: 15px;
  position: relative;
}
.news-list>.news-list-item:hover {
  color: rgb(230, 6, 16);
}
.news-list>.news-list-item>.item-date {
  padding: 5px 15px;
  margin-right: 15px;
  height: 30px;
  line-height: 20px;
  background-color: rgba(216, 216, 216, 0.3);
}
.news-list>.news-list-item>.glyphicon {
  line-height: 30px;
  margin-right: 15px;
}
.news-list>.news-list-item>.glyphicon::before {
  background-color: transparent;
}
.news-list>.news-list-item>.glyphicon::after {
  content: "";
  border-left: 2px dotted #e6e8e8;
  position: absolute;
  height: 200%;
  width: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: -1; */
}
.news-list>.news-list-item:hover>.glyphicon::after {
  border-color: rgb(230, 6, 16);
}
.news-list>.news-list-item>.item-title {
  height: 30px;
  line-height: 30px;
  position: relative;
}
.news-list>.news-list-item>.item-title::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(230, 6, 16);
  transform-origin: center center;
  transition: all 0.6s;
}
.news-list>.news-list-item:hover>.item-title::before {
  width: 100%;
}